@import "~bootstrap/scss/bootstrap";

.App {
  padding: 0px;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;

  .field-label {
    padding: 10px;
  }
}